
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Locations</title>
    <style>
        body { font-family: Arial, sans-serif; line-height: 1.6; margin: 2em; }
        h1 { text-align: center; }
        ul { list-style-type: none; padding: 0; }
        li { margin-bottom: 1em; }
        a { text-decoration: none; color: #007BFF; }
        a:hover { text-decoration: underline; }
    </style>
</head>
<body>
    <h1>Travel Locations</h1>
    <ul>

        <li>
            <strong>Istanbul, Turkey</strong>: Wonderful palaces, culture, and history. Had some of the best food along with Rome and Athens. The scammers are some of the most aggressive in the world.
            <br>
            <a href="{{ "/istanbul/" | relative_url }}" target="_blank">Read more</a>
        </li>
    
        <li>
            <strong>Athens, Greece</strong>: Competing with Paris to lead the world in cigarettes per capita. Met a 10yo that was vaping. The Acropolis is cool though. Stayed in Kato Patissia (the "hood" as a Greek later told me) but it was cool. 
            <br>
            <a href="{{ "/athens/" | relative_url }}" target="_blank">Read more</a>
        </li>
        <li>
            <strong>Vienna, Austria</strong>: Opera, concerts, and class. And Wiener does not mean sausage!
            <br>
            <a href="{{ "/vienna/" | relative_url }}" target="_blank">Read more</a>
        </li>
        <li>
            <strong>Tirana, Albania</strong>: Walked 5km along the highway to get to my hostel. The city is like if you randomly sampled cities across location and time from the last 100 years and then glued it together. Most friendly people I met. The food is good and cheap.
            <br>
            <a href="{{ "/tirana/" | relative_url }}" target="_blank">Read more</a>
        </li>
        <li>
            <strong>Rome, Italy</strong>: Oversaturated even in the winter. The streets and buildings were beautiful. The food was cheap and delicious. I wish I had spent more time.
            <br>
            <a href="{{ "/rome/" | relative_url }}" target="_blank">Read more</a>
        </li>
        <li>
            <strong>Paris, France</strong>: Depressing in the winter. The Louvre was really nice though. Couldn't afford to eat French dining so I had lamb biryani every day.
            <br>
            <a href="{{ "/paris/" | relative_url }}" target="_blank">Read more</a>
        </li>
        <li>
            <strong>Stockholm, Sweden</strong>: Vikings and boats and cold water. Clean and no smokers.
            <br>
            <a href="{{ "/stockholm/" | relative_url }}" target="_blank">Read more</a>
        </li>
        <li>
            <strong>Reykjavik, Iceland</strong>: Rent a car and get out of this city as fast as you can. 
            <br>
            <a href="{{ "/reykjavik/" | relative_url }}" target="_blank">Read more</a>
        </li>
    
    </ul>
</body>
</html>
